*{
   background-color: rgb(187, 155, 218);
   font-family: 'Montserrat', sans-serif;

}
header {
   display: flex;
   min-height: 70px;
   background-color: transparent;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
}
.logo-nombre{
  
   background-color: transparent;
}
.logo {
   color: rgb(187, 155, 218);
   text-decoration: none;
   display: flex;
   align-items: center;
   background-color: transparent;
}
.logo img{
   height: 50px;
   width: 50px;
   margin-right: 10px;
   margin-left: 10px;
   background-color:transparent;
}
.título{
   color: rgb(61, 4, 68);
   background: rgb(153, 40, 138);
   font-size: 30px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   letter-spacing: 0.1px;
   text-align: center;
   margin-left: 250px;
   margin-right: 240px;
}

nav{
   background-color: transparent;
 
}
nav a {
   background: transparent;
   font-weight: 600;
   padding-right: 10px;
   text-decoration: none;
}
nav a:hover{
   color: white;
}
/* @media (max-width:700px) {
   header{
       flex-direction: column;
   } */
   nav{
       padding: 10px 0px;
   }


 
 /* .contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display:grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "header header header"
                         "contenido contenido sidebar"
                         "widget-1 widget-1 sidebar"
                         "footer footer footer";

 }  */
 /* .contenedor .contenido {
    grid-area: contenido;
 } */

/* @media screen and (max-width:600px){
    h1{
        font-size: 5rem;
        color: blue;
        
    }
} */
.contenedor {
   width: 90%;
   max-width: 1000px;
   margin: 20px auto;
   display: grid;
   grid-gap: 20px;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(4, auto);

   grid-template-areas: "header header header"
                        "contenido contenido sidebar"
                        "widget-1 widget-2 sidebar"
                        "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
   background: #fff;
   padding: 20px;
   border-radius: 1px;
}

.contenedor .header {
   background: blueviolet;
   color: #fff;
   grid-area: header;
}

.contenedor .contenido {
   grid-area: contenido;
   background-color: rgb(187, 105, 245);
}

.contenedor .sidebar {
   grid-column: 3 / 4;
    background: rgb(187, 105, 245); 
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100px;
   grid-area: sidebar;
}
.contenedor .widget-1,
.contenedor .widget-2 {
   background: rgb(187, 155, 218);
   color: #fff;
   height: 100px;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

.contenedor .widget-1 {
   grid-area: widget-1;
}

.contenedor .widget-2 {
   grid-area: widget-2;
}

.contenedor .footer {
   background: #12203E;
   color: #fff;
   grid-area: footer;
}

@media screen and (max-width: 768px){
   .contenedor {
       grid-template-areas: "header header header"
                        "contenido contenido contenido"
                        "sidebar sidebar sidebar"
                        "widget-1 widget-1 widget-2"
                        "footer footer footer";
   }
}